openapi: 3.1.0
info:
  title: donchong.top Chat API
  version: 1.0.0
  description: |
    Streaming chat endpoint that backs the on-site assistant on
    donchong.top. Returns plain-text token deltas (not Server-Sent
    Events). Per-IP rate limited.
  license:
    name: MIT
servers:
  - url: https://donchong.top
paths:
  /api/chat:
    post:
      summary: Stream a chat response
      operationId: chat
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [messages]
              properties:
                messages:
                  type: array
                  description: Chronological turns.
                  items:
                    type: object
                    required: [role, content]
                    properties:
                      role:
                        type: string
                        enum: [user, assistant, system]
                      content:
                        type: string
                detailMode:
                  type: boolean
                  default: false
                  description: |
                    `false` (default) caps responses at 64 words.
                    `true` raises the cap to 512 words.
                pageMeta:
                  type: object
                  nullable: true
                  description: Page context the assistant should ground on.
                  properties:
                    title: { type: string }
                    url: { type: string, format: uri }
      responses:
        '200':
          description: |
            Streaming `text/plain` body. The model may append a trailing
            `[Error] ...` line if generation finished abnormally
            (empty response or non-`stop` finish reason).
          content:
            text/plain:
              schema: { type: string }
        '429':
          description: Rate limit exhausted.
          headers:
            Retry-After:
              schema: { type: integer }
              description: Seconds until the bucket refills.
            X-RateLimit-Limit:
              schema: { type: integer }
            X-RateLimit-Remaining:
              schema: { type: integer }
            X-RateLimit-Reset:
              schema: { type: integer }
              description: Unix epoch seconds.
        '500':
          description: Server misconfiguration (missing API key).
